<div class="flex flex-col justify-center items-center mb-2 w-full text-sm">
  <div class="flex justify-around items-center mb-2 w-full">
    <h1 class="text-lg font-bold p-4 text-white">
      {{ title }}
    </h1>
    <input
      class="rounded p-1.5 text-sm"
      type="text"
      [(ngModel)]="searchText"
      placeholder="Search by ID"
      (ngModelChange)="onSearchTextChange()"
    />
    <app-button
      text="Add User"
      textColor="text-cyan-950"
      bgColor="bg-white"
      [routerLink]="['/adduser']" 
      class="text-sm"
    ></app-button>
  </div>
  <app-info
    color="bg-cyan-700"
    textColor="text-cyan-700"
    parag="You can add user with 'Add User Button' above and see/edit user details with 'Edit Button' and delete user with the 'Delete Button'"
  ></app-info>
</div>
<div class="flex flex-col justify-center items-center overflow-x-auto">
  <table class="w-10/12 max-w-screen-xl">
    <thead>
      <tr
        class="flex justify-between items-center w-full bg-cyan-700 text-white text-sm h-8 m-1"
      >
        <th class="ml-12 w-16 text-center">User ID</th>
        <th class="w-24 text-center">User Name</th>
        <th class="w-52 text-center">E-mail</th>
        <th class="w-28 text-center">Creation Date</th>
        <th class="w-24 text-center">Activeness</th>
        <td class="w-16 mr-12"></td>
      </tr>
    </thead>
    <tbody
      class="bg-white flex flex-col justify-between items-center m-1 w-full"
    >
      <tr
        *ngFor="let user of filteredData | slice: (pageIndex * pageSize) : ((pageIndex + 1) * pageSize)"
        class="flex justify-between items-center m-2 h-4 w-full text-xs"
      >
        <td class="ml-12 text-center w-16">{{ user.userId }}</td>
        <td class="w-24 text-center">{{ user.userName }}</td>
        <td class="w-52 text-center">{{ user.email }}</td>
        <td class="w-28 text-center">{{ user.creation_date }}</td>
        <td class="w-24 text-center">
          <fa-icon [icon]="user.isActive ? faCheck : faTimes"></fa-icon>
        </td>
        <td class="w-16 mr-14 flex">
          <app-button
            textColor="text-cyan-700"
            [icon]="faMagnifyingGlass"
            [routerLink]="'/users/' + user.userId"
          ></app-button>
          <app-button
            textColor="text-cyan-700"
            [icon]="faTrash"
            (btnClick)="deleteUser(user.userId)"
          ></app-button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="flex">
    <app-button [icon]="faAngleLeft" textColor="text-white" [bgColor]="isPrevDisabled ? 'bg-cyan-950' : 'bg-cyan-700'" class="text-sm" (btnClick)="handlePrevBtn()" ></app-button>
    <app-button [icon]="faAngleRight" textColor="text-white" [bgColor]="isNextDisabled ? 'bg-cyan-950' : 'bg-cyan-700'" class="text-sm" (btnClick)="handleNextBtn()" ></app-button>
  </div>
</div>
