<div class="flex flex-col justify-center items-center mb-2 w-full">
  <div class="flex justify-around items-center mb-2 w-full">
    <h1 class="text-3xl font-bold p-4 text-white">
      {{ title }}
    </h1>
    <input
      class="rounded p-2"
      type="text"
      [(ngModel)]="searchText"
      placeholder="Search by ID"
      (ngModelChange)="onSearchTextChange()"
    />
    <app-button
      text="Add Category"
      textColor="text-cyan-950"
      bgColor="bg-white"
      [routerLink]="['/addcategory']" 
    ></app-button>
  </div>
  <app-info
    textColor="text-cyan-600"
    color="bg-cyan-600"
    parag="You can add user with 'Add Category Button' above"
  ></app-info>
</div>
<div class="flex justify-center items-center overflow-x-auto">
  <table class="w-6/12 max-w-screen-xl">
    <thead>
      <tr
        class="flex justify-between items-center w-full bg-cyan-600 text-white m-1"
      >
        <th class="ml-12 w-24 text-center">Category ID</th>
        <th class="w-32 text-center">Category Name</th>
        <th class="w-28 mr-12 text-center">Creation Date</th>
      </tr>
    </thead>
    <tbody
      class="bg-white flex flex-col justify-between items-center m-1 w-full"
    >
      <tr
        *ngFor="let category of filteredData"
        class="flex justify-between items-center m-1 w-full"
      >
        <td class="ml-12 text-center w-24">{{ category.categoryId }}</td>
        <td class="w-32 text-center">{{ category.name }}</td>
        <td class="w-28 mr-12 text-center">{{ category.creationDate }}</td>
      </tr>
    </tbody>
  </table>
</div>
