<div class="flex justify-between items-center mb-2">
  <h1 class="text-3xl font-bold underline p-4 text-white">
    {{ title }}
  </h1>
  <app-button
    text="Add User"
    textColor="text-white"
    color="bg-blue-800"
  ></app-button>
</div>
<div class="flex justify-center items-center overflow-x-auto">
  <table class="w-full max-w-screen-lg">
    <thead>
      <tr class="flex justify-between items-center w-full">
        <th>User ID</th>
        <th>Post ID</th>
        <th>Category ID</th>
        <th class="w-56">Title</th>
        <th>View Count</th>
        <th>Creation Date</th>
        <th class="w-14"></th>
      </tr>
    </thead>
    <tbody>
      <app-post-detail
        *ngFor="let post of posts"
        [post]="post"
      ></app-post-detail>
    </tbody>
  </table>
</div>
