<div class="flex flex-col justify-around items-center mb-2">
  <div class="flex justify-around items-center mb-2 w-full">
    <h1 class="text-lg font-bold p-4 text-white">
      {{ title }}
    </h1>
    <input
    class="rounded p-1 mb-3 text-xs w-32 h-8"
    type="text"
    [(ngModel)]="searchText"
    placeholder="Search by postID"
    (ngModelChange)="onSearchTextChange()"
    />
    <app-button
      text="Add Comment"
      textColor="text-cyan-950"
      bgColor="bg-white"
      [routerLink]="['/addcomment']" 
      class="text-sm"
    ></app-button>
  </div>
  <app-info
  textColor="text-cyan-400"
  color="bg-cyan-400"
  parag="You can click 'Info Button' to see the comment and the post which comment belongs to, and Delete comment with the 'Delete Button'"
  ></app-info>
</div>
<div class="flex flex-col justify-center items-center overflow-x-auto">
  <table class="w-10/12 max-w-screen-xl">
    <thead>
      <tr
        class="flex justify-between items-center w-full bg-cyan-400 text-white m-1 text-sm h-8"
      >
        <th class="ml-12 w-16 text-center">Comment ID</th>
        <th class="w-24 text-center">Post Id</th>
        <th class="w-24 text-center">User Id</th>
        <th class="w-28 text-center">Creation Date</th>
        <th class="w-24 text-center">Activeness</th>
        <td class="w-16 mr-12"></td>
      </tr>
    </thead>
    <tbody
      class="bg-white flex flex-col justify-between items-center m-1 w-full"
    >
      <tr
        *ngFor="let comment of filteredData | slice: (pageIndex * pageSize): ((pageIndex + 1) * pageSize)"
        class="flex justify-between items-center m-2 w-full text-xs h-4"
      >
        <td class="ml-12 text-center w-16">{{ comment.commentId }}</td>
        <td class="w-24 text-center">{{ comment.postId }}</td>
        <td class="w-24 text-center">{{ comment.userId }}</td>
        <td class="w-28 text-center">{{ comment.creationDate }}</td>
        <td class="w-24 text-center">
          <fa-icon [icon]="comment.isConfirmed ? faCheck : faTimes"></fa-icon>
        </td>

        <td class="w-16 mr-14 flex">
          <app-button
            textColor="text-cyan-400"
            [icon]="faMagnifyingGlass"
          ></app-button>
          <app-button
            textColor="text-cyan-400"
            [icon]="faTrash"
            (btnClick)="deleteComment(comment.commentId)"
          ></app-button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="flex">
    <app-button [icon]="faAngleLeft" textColor="text-white" [bgColor]="isPrevDisabled ? 'bg-cyan-950' : 'bg-cyan-400'" class="text-sm" (btnClick)="handlePrevBtn()" ></app-button>
    <app-button [icon]="faAngleRight" textColor="text-white" [bgColor]="isNextDisabled ? 'bg-cyan-950' : 'bg-cyan-400'" class="text-sm" (btnClick)="handleNextBtn()" ></app-button>
  </div>
</div>
