/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
  }
  
  body {
    background-image: linear-gradient(to bottom right, rgb(67, 67, 67), rgb(180, 180, 180));
    background-size: cover;
    background-attachment: fixed;
  }
  
  